input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        body {

            background: #FAF3EC;
            min-height: 100vh;
            margin: 0;
            font-family: 'Akaya Telivigala', cursive;
        }

        h1 {
            margin: 0;
        }

        .social-container {
            margin: 20px 0;
        }

        .social-container i {
            font-size: 50px;
        }

        .social-container a {
            border: 1px solid #DDDDDD;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            height: 70px;
            width: 70px;
            font-size: 30px;
        }

        .divide {
            font-size: 20px;
        }

        .line {
            /* content: ""; */
            height: 5px;
            width: 100px;
            background: #ff5e14;
        }

        a {
            text-decoration: none;
            color: #0d28c0;
        }

        a:hover {
            color: #071561;
        }

        .main-container {
            display: flex;
            width: 70%;
            height: 700px;
            min-height: 80vh;
            background-color: white;
            margin: 10vh auto;
            border-radius: 12px;
            box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
        }

        .main-container .hidden {
            display: none;
        }

        .login-link {
            color: #E040FB;
        }

        .login-link:hover {
            color: #333;
            cursor: pointer;
        }

        .left-container {
            width: 40%;
            height: 100%;
            background-color: white;
            border-radius: 10px 0 0 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        left-container>* {
            transition: all 0.3s;
        }

        .right-container {
            width: 60%;
            height: 100%;
            background-image: url('../images/A-passionate-rescuer-700x545.png');
            background-position: center;
            background-repeat: no-repeat;
            /* background-size: cover; */
            border-radius: 0 10px 10px 0;
        }

        .signup-form {
            width: 70%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .signup-form input {
            border-radius: 200px;
            padding: 5px 15px;
            height: 3rem;
            font-size: 1rem;
            background-color: #ddd;
            color: #db18fd  ;
            border: none;
        }

        .signup-form input {
            display: block;
            margin-top: 1rem;
            font-size: 25px;
            width: 100%;
            font-family: inherit;
        }

        .signup-form input.first-name,
        .signup-form input.last-name {
            width: 48%;
        }

        .signup-form input:focus {
            outline: none;
        }

        .signup-form input[type='checkbox'] {
            margin: 1rem 0.5rem 1rem 0;
        }

        .signup-form input[type='checkbox'],
        .signup-form input[type='checkbox']+label {
            display: inline-block;
            width: auto;
        }

        .signup-form .check {
            display: flex;
            align-items: center;
        }

        .signup-form button {
            color: white;
            background-color: #bf360c;
            border: none;
            padding: 1rem;
            font-family: inherit;
            border-radius: 10px;
            font-size: 1.5rem;
            display: block;
            width: 50%;
            margin: auto;
            margin-top: 2rem;
        }

        .signup-form button:hover {
            background-color: #83260a;
            cursor: pointer;
        }

        button.disabled {
            color: grey;
            background-color: darkgrey;
        }

        button.disabled:hover {
            color: grey;
            background-color: darkgrey;
            cursor: unset;
        }

        .signin-link {
            color: #E040FB;
        }

        .signin-link:hover {
            color: #333;
            cursor: pointer;
        }

        .forgot {
            margin-top: 30px;
            font-size: 19px;

        }